<div class="container">
    <h1>Anmeldung</h1>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="loginForm.get('name').invalid && (loginForm.get('name').dirty || loginForm.get('name').touched)" class="alert alert-danger">
            Name ist ein Pflichtfeld.
        </div>
      </div>

      <div class="form-group">
        <label for="telefon">Telefon</label>
        <input type="tel" class="form-control" id="telefon" formControlName="telefon">
      </div>

      <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="boost" formControlName="boost">
            <label for="boost" class="form-check-label">Boost</label>
        </div>
      </div>

      <div class="form-group">
        <label for="domain">Domain</label>
        <select class="form-control" id="domain" name="domain" formControlName="domain">
            <option>test 1</option>
            <option>test 2</option>
            <option>test 3</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Anmelden</button>
    </form>
    <p>Status {{ loginForm.status }}</p>
</div>

