.ng-valid:not(form).ng-touched.ng-dirty  {
    border-left: 5px solid #42A948; /* grün */
    border-bottom: 2px solid #42A948; /* grün */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* rot */
    border-bottom: 2px solid #a94442; /* rot */
}