.book__list--container {
    margin: 10px 0px;
    padding: 20px;
    background-color: #F8F8F8;
    min-height: 150px;
    position: relative;
}

.book__list--container .title {
    font-size: 120%;
    font-weight: bold;
    margin: 10px 0px;
}

.book__list--container .description, .book__list--container .price {
    padding: 5px 0px;
}

.book__list--container .button--edit {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 4px 10px;
    background-color: #E8E8E8;
    cursor: pointer;
}

